@import "tailwindcss";

.blueTextColor {
    color: #7a9ebd !important;
}

.blueLogoColor {
    color: #2d628c !important;
}

.blueTextColor:hover {
    color: #2d628c !important;
}

.dropdown-toggle::after {
    display: none !important;
}

.blueBgColor {
    background-color: #2d628c;
}

.hovered:hover {
    border-bottom: 2px solid #2d628c;
}

.navbgWhite {
    background-color: white !important;
    border-radius: 5px;
}


.logo {
    font-size: 10px;
}

/* .navbar{
    padding: 18px !important;
    background-color: aqua !important;
} */

body {
    background-image: url("../images/istockphoto-1429064773-612x612.jpg"); 
    background-size: cover;
    background-repeat: no-repeat; 
    /* background-color: black !important; */
}

.navbar {
    position: sticky !important;
    top: 10px !important;
    /* bottom: 10; */

}

.position {
    position: 'absolute';
    top: 60px;
    z-index: 1;
}