@import "tailwindcss";

.blueTextColor{
    color:  #a3bacd !important;
}
.blueLogoColor{
    color:  #2d628c !important;
}

.blueTextColor:hover{
    color: #2d628c !important;
}

.dropdown-toggle::after {
  display: none !important; 
}

.blueBgColor{
    background-color: #2d628c;
}

.hovered:hover{
    border-bottom: 2px solid #2d628c;
}